<h4>Would you like to downgrade your account back to standard?</h4>
<p>Remember, you will have to pay another $15 to get premium features back on your account.</p>
<%= link_to "Downgrade Your Account", downgrade_create_path, method: :create, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to downgrade?'} %>