<%= form_tag charges_path do %>
    <h4>The "Upgrade to Premium" feature is for demonstration purposes and does not require you to provide real credit card information to become a premium Blocipedia member. Just type the email address you used to register, the card number 4242 4242 4242 4242, an expiration date that has not expired, and the security code 123 to become a premium member!</h4>
    <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount=<%= @stripe_btn_data[:amount] %> data-description="<%= @stripe_btn_data[:description] %>" ></script>
<% end %>